@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

:root {
    --scotswot-blue:#0a1547;
}

html {
    font-family: 'Signika', sans-serif;
}

header {
    background: url("../images/tartan.png") no-repeat center center / cover;
}

.header-link {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 0.5em;
    font-size: medium;
}

body {
    background-color: var(--scotswot-blue);
    color: white;
    margin-top: 0;
    text-align: center;
    margin: 0;
}

h1 {
    letter-spacing: 2px;
    margin: 0;
}

h2 {
    letter-spacing: 1px;
}

p {
    letter-spacing: 1px;
}

section {
    padding: 0.5em 1.5em;
}

section + section {
    margin-top: 1em;
}

button {
    font-family: inherit;
    padding: 0.75em 1.5em;
    border-radius: 10px;
}

button.primary {
    color: var(--scotswot-blue);
    background-color: white;
}

button.primary + button.primary {
    margin-left: 1em;
}

button.secondary {
    background-color: var(--scotswot-blue);
    color: white;
}

.instructions {
    color: var(--scotswot-blue);
}

.instructions-list {
    text-align: left;
}

.instructions-list li + li {
    margin-top: 0.5em;
}

.dialog-overlay {
    display: none;
    background: grey;
    opacity: 0.9;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.dialog-overlay.show {
    display: block;
}

.quiz {
    display: none;
}

.quiz-container,
.quiz-levels,
.quiz-summary-container {
    display: none;
}

.quiz.active {
    display: block;
}

.quiz.select-level .quiz-levels {
    display: block;
}

.quiz.select-level .quiz-container,
.quiz.select-level .quiz-summary-container {
    display: none;
}

.quiz.play .quiz-levels,
.quiz.play .quiz-summary-container {
    display: none;
}

.quiz-summary-container, .quiz-container {
    min-height: 35vh;
}

.quiz.play .quiz-container {
    display: block;
}

.quiz.summary .quiz-summary-container {
    display: flex;
    font-size: 1.5rem;
    background-color: white;
    color: var(--scotswot-blue);
    align-items: center;
    justify-content: center;
    padding: 1em;
}

.quiz.summary .quiz-levels,
.quiz.summary .quiz-container {
    display: none;
}

.quiz-container {
    background-color: white;
    color: var(--scotswot-blue);
    padding: 1em;
}

.question-tally {
    text-align: right;
}

.radio-options {
    padding: 1em 0;
}

.quiz-buttons {
    margin-top: 1em;
}

.next-question {
    display: none;
}

.next-question.show {
    display: inline-block;
}

.answer-feedback {
    display: none;
}

.answer-feedback.show {
    display: block;
}

.answer-feedback-text.correct {
    color: green;
}

.answer-feedback-text.incorrect {
    color: red;
}

.nessie-img {
    align-items: center;
    max-width: 30%;
    height: 30%;
    padding-top: 2em;
}

@media screen and (min-width: 768px) {
    section {
        max-width: 60%;
        margin: auto;
    }

    .header-link {
        font-size: large;
    }

    .quiz-summary-container, .quiz-container {
        min-height: 25vh;
    }

    h2 {
        font-size: 2.5em;
    }

    p {
        font-size: large;
    }

    .nessie-img {
        max-width: 15%;
        max-height: 15%;
}
}
