@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

html {
    font-family: 'Signika', sans-serif;
}

.header-link {
    text-decoration: none;
    color: black;
}

body {
    background-color: lightskyblue;
}

h1 {
    letter-spacing: 2px;
}

h2 {
    letter-spacing: 1px;
}

p {
    letter-spacing: 1px;
}

button {
    font-family: 'Signika', sans-serif;
}

.quiz {
    display: none;
}

.quiz-container,
.quiz-levels,
.quiz-summary-container {
    display: none;
}

.quiz.active {
    display: block;
}

.quiz.select-level .quiz-levels {
    display: block;
}

.quiz.select-level .quiz-container,
.quiz.select-level .quiz-summary-container {
    display: none;
}

.quiz.play .quiz-levels,
.quiz.play .quiz-summary-container {
    display: none;
}

.quiz.play .quiz-container {
    display: block;
}

.quiz.summary .quiz-summary-container {
    display: block;
}

.quiz.summary .quiz-levels,
.quiz.summary .quiz-container {
    display: none;
}

.next-question {
    display: none;
}

.next-question.show {
    display: block;
}

.answer-feedback {
    display: none;
}

.answer-feedback.show {
    display: block;
}